body {
  font-family: Arial;
  text-align: center;
  margin: 0;
  background: #f4f4f4;
}

h1 {
  margin: 20px;
}

/* FILTER BUTTONS */
.filters button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
}

.filters button:hover {
  background: gray;
}

/* GALLERY */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 220px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.08);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* LIGHTBOX */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#lightbox img {
  width: 60%;
  border-radius: 10px;
}

#lightbox button,
#lightbox span {
  font-size: 30px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}